.not-support {
  @apply relative hidden h-full w-full;
}

.m-not-support {
  @apply relative table-cell w-full text-center align-middle;
}

.m-not-support-header {
  @apply mb-[48px];
}

.m-not-support-title {
  color: #000;

  > b {
    @apply text-[24px] font-medium leading-[inherit];
  }
}

.m-not-support-msg {
  border-color: #999;

  @apply mb-[28px] inline-block rounded-[10px] border-[1px] px-[20px] pb-[20px] pt-[10px];
}

.m-not-support-msg-title {
  background-color: #767676;
  color: #fff;

  @apply relative mx-auto mb-[-10px] mt-[-28px] block w-[100px] rounded-[20px] px-[5px];

  > b {
    @apply text-[20px] font-medium leading-[inherit];
  }
}

.m-not-support-item {
  @apply mt-[20px] text-left;
}

.m-not-support-item-title {
  color: #454545;
  border-left-color: #454545;

  @apply mb-[5px] border-l-[1px] pl-[5px] leading-none;

  > b {
    @apply font-medium leading-[inherit];
  }
}

.m-not-support-item-cnt {
  color: #767676;

  @apply pl-[8px] text-[15px] leading-[inherit];
}

.m-not-support-fig-list {
  > ul {
    @apply inline-block overflow-hidden;

    > li {
      min-width: width('n-sup/chrome.png');

      @apply float-left mx-[20px];
    }
  }
}

.m-not-support-fig {
  color: #000;

  @apply block;

  &::before {
    content: '';
    height: height('n-sup/chrome.png');

    @apply mx-auto block w-full bg-center bg-no-repeat;
  }

  &.\-\-chrome {
    &::before {
      background-image: url(~@imgs/n-sup/chrome.png);
    }
  }

  &.\-\-firefox {
    &::before {
      background-image: url(~@imgs/n-sup/firefox.png);
    }
  }

  &.\-\-edge {
    &::before {
      background-image: url(~@imgs/n-sup/edge.png);
    }
  }
}

.m-not-support-ft {
  color: #000;

  @apply mt-[48px];
}

.m-not-support-desc {
  color: #767676;

  @apply mt-[14px] block text-[15px] leading-[inherit];
}

.m-not-support-copyright {
  @apply my-[10px] text-[0px] leading-[inherit];

  > p {
    @apply px-[5px] text-[13px] leading-[inherit];
  }
}

.m-not-support-browser {
  @apply mt-[5px];
}

@screen notsupport {
  html,
  body {
    background-color: #ddd !important;

    @apply h-full;
  }

  .l-wrap {
    @apply hidden;
  }

  .not-support {
    word-wrap: break-word;

    @apply table table-auto break-all;
  }
}
